/* Public style */
body {
    width: 500px;
}

.success {
    color: green;
}

.fail {
    color: red;
}

table {
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

.td1 {
    height: 20px;
    text-align: right;
    width: auto;
}

.width-300 {
    width: 300px;
}



/* connect to server */
#switch {
    text-align: right;
    vertical-align: top;
}


/* watch folder */

/* sass */
#sassCheckedContainer {
    display: none;
}

.sassOptions {
    display: none;
}

#sassSrcError, #sassDesError {
    color: red;
}
