body {
    width: 300px;
}

.success {
    color: green;
}

.fail {
    color: red;
}



/* Html event element */
#url {
    width: 220px;
}

#switch {
    text-align: right;
}

#close {
    float: right;
}

.hide {
    display: none;
}

.textAlighRight{
    text-align: right;
}
