body {
    width: 500px;
}

.success {
    color: green;
}

.fail {
    color: red;
}

table {
    margin: 0px;
    padding: 0px;
}

/* Html event element */
.width-300 {
    width: 300px;
}

#switch {
    text-align: right;
    vertical-align: top;
}

#loading {
    vertical-align: top;
}

#close {
    float: right;
}

.hide {
    display: none;
}

.td1 {
    height: 20px;
    text-align: right;
    width: auto;
}

#sassOption1, #sassOption2 {
    display: none;
}
